---
layout: base
title: Home page
group: Group 8
description: Collection photos about Sunset
---

<header>
  <h1>{{ title }}</h1>
  <h2>{{ group }}</h2>
  <hr />
</header>
<body>
  <div><h2>{{description}}</h2></div>
  <ul>
    {% for media in photos.z5wutri.media -%}

      {% for photo in media.src.tiny -%}
        <a href="large.html"><img src={{ photo }}></a>
      {% endfor -%}
    {% endfor -%}
</ul>
</body>
<footer>
  <hr />
  <p>
    <small>
      <a href="https://www.pexels.com" target="_blank"
        >Photos provided by Pexels</a
      >
    </small>
  </p>
</footer>
